CORHELP RCDATA Help\COR.chm
APPICON ICON Res\App.ico
CELLMLICON ICON Res\CellML.ico
INTELMATHDLL RCDATA DLL\IntelMath.dll
INTELODEDLL RCDATA DLL\IntelODE.dll
MICROSOFTMATHDLL RCDATA DLL\MicrosoftMath.dll
MICROSOFTODEDLL RCDATA DLL\MicrosoftODE.dll
